<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <data>
        <menuitem
            id="menu_g2p_program_application"
            name="Program Applications"
            parent="g2p_registry_actions.menu_g2p_root"
            action="action_g2p_program_application"
            sequence="20"
        />
    </data>
</odoo>
